.HomeScreenContent {
  height: 100vh;
  padding-top: 10vh;
}

.home {
  background-color: black;
}

.homemain {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3)),
    url(../images/homeBackground.jpg);

  background-position: center;
  background-size: cover;
  position: relative;
  padding: 0 5%;
  overflow-x: hidden;
}

/* carousel */

.carouselBanner {
  display: flex;
  justify-content: space-between;
  margin: 4vh;
}

.homeCarousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: 8vh;
  align-items: center;
}

.homeCarousel h1 {
  color: lightcyan;
  margin-bottom: 4vh;
}

.homeCarousel h5 {
  color: lightyellow;
}

.carouselStyle {
  background-color: white;
  border-radius: 16px;
  width: 60%;
  height: 25vh;
  padding: 10px;
  margin: 20px;
  box-shadow: 5px 5px 8px grey;
}

.indicator-color button {
  background-color: black !important;
}

.carousel-item h5 {
  color: black;
  font-weight: bold;
}

.carousel-item h6 {
  color: lightgrey;
}

.homeBtnContainer {
  display: flex;
  justify-content: space-evenly;
}

.homeSinBtn {
  color: #fff;
  text-decoration: none;
}

/* Grid */

.gridHeading {
  text-align: center;
  color: #fff;
  margin-top: 14vh;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  /* background-color: #f66335; */
  row-gap: 2rem;
  column-gap: 2rem;
  margin: 8vh;
}

.gridContainer div {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 2vh;
  border-radius: 16px;
  flex-direction: column;
  align-items: center;
}

.gridContainer div h1 {
  color: #fff;
  font-weight: bold;
}

.gridContainer div p {
  color: lightgoldenrodyellow;
}

@media (max-width: 415px) {
  .gridContainer {
    grid-template-columns: repeat(2, auto);
    margin: 2vh 3vh;
    row-gap: 1rem;
  }
}

/* intro */

.introHeading {
  color: lightcyan;
  text-align: center;
  margin-top: 8rem;
}

.intro {
  display: flex;
  justify-content: space-between;
  margin: 8vh;
  /* border: 1px solid gainsboro; */
  box-shadow: 5px 5px 5px gainsboro;
  margin-top: 6rem;
}

.introContent {
  color: #fff;
  width: 40vw;
}

.introContent h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  margin: 6vh 0px;
}

.introContent p {
  font-size: 16px;
}


@media (max-width:415px){
  .carouselBanner {
    flex-direction: column;
  }

  .homeCarousel{
    width: 50vw;
  }

  .homeCarousel h5 {
    width: 90vw;
    padding-left: 2rem; 
    text-align: justify;
  }

  .carouselStyle {
    width: 80vw;
    height: auto;
    margin-left: 2rem ;
  }

  .homeBtnContainer{
    align-items: center;
    flex-direction: column;

  }

  .gridHeading {
    margin-top: 29rem;
  }

  .intro{
    flex-direction: column;
    margin:8vh 2vh
  }

  .introContent{
    width: 80vw;
  }

  .intro img{
    width:10rem;
    height: 10rem;
  }

  .homeCarousel h1 {
    width: 100%;
    /* font-size: 22px; */
  }
}