
.userimg{
  height: 10;
  width: 20;
}
.navbar-brand {
  font-size: 4vh;
  font-weight: bold;
  color: white;
}

.navbar-brand:hover {
  color: cyan !important;
}

.navbar-toggler {
  background-color: #fff;
}

.nav-item {
  color: white;
  font-size: 3vh;
}

.nav-item:hover {
  color: white;
}

.nav-item:focus {
  color: cyan !important;
}

.move {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  padding: 0 10px;
}
.move:after {
  content: "";
  position: absolute;
  background-color: #f66335;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.move:hover::after {
  width: 100%;
}

@media (max-width: 415px) {
  .navbar-brand {
    font-size: 18px;
  }

  .fa-circle-user {
    font-size: 22px;
  }

  .navbar-toggler {
    display: flex;
    height: 30px;
    width: 40px;
    justify-content: center;
    align-items: center;
  }
}

.userimg {
  height: 28px;
  width: 28px;
}
